<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatchHub Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <div class="left">
        <a href="/public/index.html">
            <img src="images/logo_black.png" alt="logo">
        </a>
    </div>
    <div class="right" id="right">
        <div class="top">
            <div class="brand">
                <a href="/public/index.html" class="brand-link">
                    <img src="images/logo22.png" alt="logo">
                    <span>MatchHub</span>
                </a>
            </div>
        </div>
        <div class="forms">
            <div class="login">
                <h1 class="welcome-message">Welcome</h1>

                <div class="line-with-text">
                    <span>log in with</span>
                </div>
                <form id="loginForm">
                    <div class="input-container">
                        <input type="text" id="username" placeholder="Email or Username" required />
                        <input type="password" id="password" placeholder="Password" required />
                    </div>
                    <div class="options-container">
                        <div class="checkbox">
                            <input id="checkbox" type="checkbox">
                            <label for="checkbox">Keep me signed in</label>
                        </div>
                    </div>
                    <button type="submit">Sign In</button>
                </form>
            </div>
        </div>
    </div>
    <script src="../../data/data.js"></script>
    <script src="../js/login.js"></script>
</body>

</html>